#1. Restoaccepts, userpayment

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Fix Payment method string. Remove '_','-' and Capitalized first word in restoaccepts.csv and userpayment.csv, and all uppercase for VISA.

In [ ]:
#YOUR CODE HERE
import pandas as pd

def restoaccepts() :
  #read dataset restoaccepts
  df_restoaccepts = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/restoaccepts.csv')
  #clean data
  clean_data_restoaccepts = df_restoaccepts.copy()
  #Clean '-' and '_'
  clean_data_restoaccepts['Rpayment'] = clean_data_restoaccepts.Rpayment.str.replace('-',' ').str.replace('_',' ')
  #Make every first character in Rpayment capitalized
  clean_data_restoaccepts['Rpayment'] = clean_data_restoaccepts['Rpayment'].str.title()
  #Make visa become uppercase (VISA)
  clean_data_restoaccepts['Rpayment'] = clean_data_restoaccepts.Rpayment.str.replace('Visa', 'VISA')
  #show data
  return(clean_data_restoaccepts)

restoaccepts()

      placeID             Rpayment
0      135110                 Cash
1      135110                 VISA
2      135110  Mastercard Eurocard
3      135110     American Express
4      135110     Bank Debit Cards
...       ...                  ...
1309   132012          Diners Club
1310   132002  Mastercard Eurocard
1311   132002                 VISA
1312   132002     American Express
1313   132002          Diners Club

[1314 rows x 2 columns]

In [ ]:
def userpayment() :
  #read dataset userpayment
  df_userpayment = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/userpayment.csv')
  #clean data
  clean_data_userpayment = df_userpayment.copy()
  #clean '-' and '_'
  clean_data_userpayment['Upayment'] = clean_data_userpayment.Upayment.str.replace('-',' ').str.replace('_',' ')
  #make every first character in Rpayment capitalized
  clean_data_userpayment['Upayment'] = clean_data_userpayment['Upayment'].str.title()
  #make visa become uppercase (VISA)
  clean_data_userpayment['Upayment'] = clean_data_userpayment.Upayment.str.replace('Visa', 'VISA')
  #show data
  return(clean_data_userpayment)

userpayment()

    userID          Upayment
0    U1001              Cash
1    U1002              Cash
2    U1003              Cash
3    U1004              Cash
4    U1004  Bank Debit Cards
..     ...               ...
172  U1134              Cash
173  U1135              Cash
174  U1136              Cash
175  U1137              Cash
176  U1138              Cash

[177 rows x 2 columns]

In [ ]:
resto_acc = restoaccepts()
user_payment = userpayment()
df_list = [resto_acc,user_payment]
resto_pay = resto_acc.Rpayment.unique() 
user_pay = user_payment.Upayment.unique()

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import Restopayment
import pandas as pd
import numpy as np

#CHANGE NONE TO YOUR OWN LIST VARIABLE NAME
print(Restopayment.score_resto_pay(resto_pay))
print(Restopayment.score_user_pay(user_pay))

Your score restaurant payment: 100.0%
Your score for user payment: 100.0%

#2. restocuisine, usercuisine

Fix cuisine string. Remove '_','-'.

In [ ]:
def restocuisine() :
  #read dataset restocuisine
  df_restocuisine = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/restocuisine.csv')
  #clean data
  clean_data_restocuisine = df_restocuisine.copy()
  #clean '-' and '_'
  clean_data_restocuisine['Rcuisine'] = clean_data_restocuisine.Rcuisine.str.replace('-',' ').str.replace('_',' ')
  #show data
  return(clean_data_restocuisine)

restocuisine()

     placeID        Rcuisine
0     135110         Spanish
1     135109         Italian
2     135107  Latin American
3     135106         Mexican
4     135105       Fast Food
..       ...             ...
911   132005         Seafood
912   132004         Seafood
913   132003   International
914   132002         Seafood
915   132001   Dutch Belgian

[916 rows x 2 columns]

In [ ]:
def usercuisine() :
  #read dataset usercuisine
  df_usercuisine = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/usercuisine.csv')
  #clean data
  clean_data_usercuisine = df_usercuisine.copy()
  #clean '-' and '_'
  clean_data_usercuisine['Rcuisine'] = clean_data_usercuisine.Rcuisine.str.replace('-',' ').str.replace('_',' ')
  #show data
  return(clean_data_usercuisine)

usercuisine()

    userID           Rcuisine
0    U1001           American
1    U1002            Mexican
2    U1003            Mexican
3    U1004             Bakery
4    U1004   Breakfast Brunch
..     ...                ...
325  U1135           Southern
326  U1135  Dessert Ice Cream
327  U1136            Mexican
328  U1137            Mexican
329  U1138           Pizzeria

[330 rows x 2 columns]

In [ ]:
resto_cuis = restocuisine()
user_cuis = usercuisine()
df_list = [resto_cuis,user_cuis]
resto_cuisine = resto_cuis.Rcuisine.unique() 
user_cuisine = user_cuis.Rcuisine.unique()

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import Restocusine
import pandas as pd
import numpy as np

#CHANGE NONE TO YOUR OWN LIST VARIABLE NAME
print(Restocusine.score_resto_cuis(resto_cuisine))
print(Restocusine.score_user_cuis(user_cuisine))

Your score restaurant cuisine: 100.0%
Your score for user cuisine: 100.0%

#3. Resto Hours

In [ ]:
def restohours() :
  #read dataset
  df_restohours = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/restohours.csv')
  #clean
  clean_data_restohours = df_restohours.copy()
  clean_data_restohours['days'] = clean_data_restohours.days.str.replace(';','')
  #Delete duplicated data
  clean_data_restohours = clean_data_restohours.drop_duplicates(subset=None, keep='first', inplace=False)
  #transform table from narrow to wide table
  clean_data_restohours = clean_data_restohours.pivot_table(index='placeID', columns='days', values='hours', aggfunc='first')
  clean_data_restohours.rename(columns = {'MonTueWedThuFri' : 'Mon'}, inplace=True)
  col = clean_data_restohours['Mon']
  clean_data_restohours.insert(1, 'Tue', col)
  clean_data_restohours.insert(2, 'Wed', col)
  clean_data_restohours.insert(3, 'Thu', col)
  clean_data_restohours.insert(4, 'Fri', col)
  #Fill missing value with 9999
  clean_data_restohours = clean_data_restohours.fillna(9999)
  return(clean_data_restohours)

restohours()

days                          Mon  ...                       Sun
placeID                            ...
132012               12:00-22:00;  ...              12:00-22:00;
132023               11:00-00:00;  ...              11:00-00:00;
132024               11:00-21:00;  ...              11:00-21:00;
132026               12:00-14:30;  ...                      9999
132030   12:00-15:00;15:00-21:00;  ...  12:00-15:00;15:00-21:00;
...                           ...  ...                       ...
135107               07:00-23:30;  ...              07:00-23:30;
135108               00:00-23:30;  ...              00:00-23:30;
135109               08:00-21:00;  ...              08:00-21:00;
135110               08:00-19:00;  ...              00:00-00:00;
135111               00:00-23:30;  ...              00:00-23:30;

[694 rows x 7 columns]

In [ ]:
resto_hour = restohours()

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import Restohours
import pandas as pd
import numpy as np

print(Restohours.score_resto_hours(resto_hour))

4858
Your score for restohours is: 100.0%

#4. Geoplaces

In [ ]:
def geoplaces() :
  #read dataset
  df_geoplaces = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/geoplaces.csv')
  #change all the form of cities to this form 'Cuernavaca', 'San Luis Potosi', 'Ciudad Victoria','Jiutepec', 'Soledad'
  df_geoplaces['city'] = df_geoplaces.city.str.replace('cuernavaca','Cuernavaca')
  df_geoplaces['city'] = df_geoplaces.city.str.replace('san luis potosi','San Luis Potosi').replace('s.l.p.','San Luis Potosi').replace('san luis potos','San Luis Potosi').replace('s.l.p','San Luis Potosi').replace('slp','San Luis Potosi')
  df_geoplaces['city'] = df_geoplaces.city.str.replace('victoria','Ciudad Victoria').replace('Cd. Victoria','Ciudad Victoria').replace('Cd Victoria','Ciudad Victoria')
  df_geoplaces['city'] = df_geoplaces.city.str.rstrip()
  #change all missing values to empty string
  df_geoplaces['city'] = df_geoplaces.city.str.replace('?','')
  #change all the form of states to this form 'Morelos', 'San Luis Potosi', 'Tamaulipas', 'Mexico'
  df_geoplaces['state'] = df_geoplaces.state.str.replace('morelos','Morelos')
  df_geoplaces['state'] = df_geoplaces.state.str.replace('SLP','San Luis Potosi').replace('san luis potosi','San Luis Potosi').replace('S.L.P.','San Luis Potosi').replace('slp','San Luis Potosi').replace('s.l.p.','San Luis Potosi').replace('san luis potos','San Luis Potosi')
  df_geoplaces['state'] = df_geoplaces.state.str.replace('tamaulipas','Tamaulipas')
  df_geoplaces['state'] = df_geoplaces.state.str.replace('mexico','Mexico')
  #change all missing values to empty string
  df_geoplaces['state'] = df_geoplaces.state.str.replace('?','')
  #change all the form of countries to ‘Mexico’
  df_geoplaces['country'] = df_geoplaces.country.str.replace('mexico','Mexico')
  #change all missing values to empty string
  df_geoplaces['country'] = df_geoplaces.country.str.replace('?','')
  #subset only contain ‘placeID’,’city’,’state’, and ’country’
  return(df_geoplaces[['placeID','city','state','country']])

geoplaces()

     placeID             city            state country
0     134999       Cuernavaca          Morelos  Mexico
1     132825  San Luis Potosi  San Luis Potosi  Mexico
2     135106  San Luis Potosi  San Luis Potosi  Mexico
3     132667  Ciudad Victoria       Tamaulipas
4     132613  Ciudad Victoria       Tamaulipas  Mexico
..       ...              ...              ...     ...
125   132866  San Luis Potosi  San Luis Potosi  Mexico
126   135072  San Luis Potosi  San Luis Potosi  Mexico
127   135109
128   135019         Jiutepec          Morelos  Mexico
129   132877

[130 rows x 4 columns]

In [ ]:
geo_places = geoplaces()

In [ ]:
#RUN THIS CELL TO GET YOUR SCORE AND DO NOT EDIT
import os

os.chdir('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data')
import geoplaces
import pandas as pd
import numpy as np

geoplaces.score_geoplaces(geo_places)

Your score for geoplaces is: 100.0%

# 5. Create Restaurant Attributes

In [ ]:
def restaurant() :
  #Restaurant Attributes
  resto_accepts = restoaccepts()
  resto_cuisine = restocuisine()
  resto_hours = restohours()
  geo_places = geoplaces()

  #Final DataFrame
  df1 = pd.merge(resto_accepts, resto_cuisine, on='placeID', how='inner')
  df2 = pd.merge(resto_hours, geo_places, on='placeID', how='inner')
  df_restaurant = pd.merge(df1, df2, on='placeID', how='inner')
  return(df_restaurant)

restaurant()

     placeID             Rpayment  ...            state country
0     135109                 Cash  ...
1     135106                 Cash  ...  San Luis Potosi  Mexico
2     135106                 VISA  ...  San Luis Potosi  Mexico
3     135106  Mastercard Eurocard  ...  San Luis Potosi  Mexico
4     135104                 Cash  ...
..       ...                  ...  ...              ...     ...
210   132608                 Cash  ...       Tamaulipas  Mexico
211   132594                 Cash  ...
212   132584                 Cash  ...
213   132572                 Cash  ...  San Luis Potosi  Mexico
214   132560                 Cash  ...       Tamaulipas  Mexico

[215 rows x 13 columns]

#Data Analysis

##1. Which student rate the most?

In [ ]:
def student_rating() :
  #read dataset userprofile
  df_userprofile = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/userprofile.csv')
  #filtering user as student only
  student = df_userprofile[df_userprofile.activity.str.contains('student')][['userID']]
  #read dataset rating
  df_rating = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/rating_final.csv')
  #merge two dataframe
  student_rate = student.merge(df_rating, on='userID', how='inner')
  return(student_rate)

df = student_rating()
df['userID'].value_counts().head(3)

U1134    16
U1137    14
U1022    14
Name: userID, dtype: int64

##2. What are the 5 names of the restaurant most visited?

In [ ]:
def most_visited_restaurant() :
  #read dataset geoplaces to get restaurant's name
  df_geoplaces_name = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/geoplaces.csv')
  #read dataset rating
  df_rating = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/rating_final.csv')
  #merge two dataframe
  restaurant_visited = df_geoplaces_name.merge(df_rating, on='placeID', how='inner')[['userID','name','rating']]
  return(restaurant_visited)
  
df = most_visited_restaurant()
df['name'].value_counts().head(5)

Tortas Locas Hipocampo                36
puesto de tacos                       32
Cafeteria y Restaurant El Pacifico    28
La Cantina Restaurante                25
Gorditas Doa Gloria                   25
Name: name, dtype: int64

##3. Is being the most visited mean having the highest rating?

In [ ]:
#most visited restaurant based on rating mean value
df = most_visited_restaurant()
df.groupby('name')['rating'].mean().sort_values(ascending=False)

name
Restaurant Las Mananitas                 2.000000
Michiko Restaurant Japones               2.000000
emilianos                                2.000000
cafe punta del cielo                     1.833333
La Estrella de Dimas                     1.800000
                                           ...
puesto de gorditas                       0.500000
tacos abi                                0.500000
Abondance Restaurante Bar                0.500000
Carnitas Mata  Calle 16 de Septiembre    0.250000
Restaurant los Compadres                 0.250000
Name: rating, Length: 129, dtype: float64

##4. What 5 restaurants having the highest average rating?

In [ ]:
def geoplaces_name() :
  #read dataset
  df_geoplaces_name = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/geoplaces.csv')
  return(df_geoplaces_name[['placeID','name']])

geoplaces_name()

     placeID                            name
0     134999                 Kiku Cuernavaca
1     132825                 puesto de tacos
2     135106      El Rinc�n de San Francisco
3     132667  little pizza Emilio Portes Gil
4     132613                   carnitas_mata
..       ...                             ...
125   132866                         Chaires
126   135072                      Sushi Itto
127   135109                       Paniroles
128   135019     Restaurant Bar Coty y Pablo
129   132877                sirloin stockade

[130 rows x 2 columns]

In [ ]:
def avg_rating() :
  #read dataset rating
  df_rating = pd.read_csv('/content/drive/My Drive/Python For Data Science Project/Week 4_Final Project/data/rating_final.csv')
  #create new column avg_rating
  df_rating['avg_rating'] = (df_rating.rating + df_rating.food_rating + df_rating.service_rating)/3
  #create dataframe contains placeID and avg_rating
  df_avg_rating = df_rating.groupby('placeID', as_index=False)['avg_rating'].mean().sort_values('avg_rating', ascending=False)
  return(df_avg_rating)

#get resto name
highest_average = avg_rating()
df_geoplaces_name = geoplaces_name()
df_highest_resto_rate = highest_average.merge(df_geoplaces_name, on='placeID', how='inner')[['placeID','name','avg_rating']]
df_highest_resto_rate.head(5)

   placeID                        name  avg_rating
0   134986    Restaurant Las Mananitas    2.000000
1   135034  Michiko Restaurant Japones    1.866667
2   132955                   emilianos    1.866667
3   135013                   Giovannis    1.833333
4   132755        La Estrella de Dimas    1.800000

**RECOMMENDER**

I want to eat at Japanese restaurant, and now my position is at the city of San Luis 
Potosi. Unfortunately, I don’t bring any cash cause I’m a cashless man. I don’t mind the price, 
so please recommend me two best Japanese restaurants based on the average rating.

In [ ]:
def recommender() :
  #call function 
  df_restaurant = restaurant()
  df_avgrating = avg_rating()
  #merge all data based on placeID
  df = df_restaurant.merge(df_avgrating, on='placeID', how='inner')[['placeID','avg_rating','city','Rcuisine','Rpayment']]
  #position_city = San Luis Potosi
  df_city_position = df[df.city=='San Luis Potosi'][['placeID','avg_rating','city','Rcuisine','Rpayment']]
  #cuisine = Japanese
  df_cuisine = df_city_position[df_city_position.Rcuisine=='Japanese'][['placeID','avg_rating','city','Rcuisine','Rpayment']]
  #payment = Cashless
  df_payment = df_cuisine[df_cuisine.Rpayment != 'Cash']
  #get resto name
  df_geoplaces_name = geoplaces_name()
  df_resto_name = df_payment.merge(df_geoplaces_name, on='placeID', how='inner')[['placeID','name','avg_rating','city','Rcuisine','Rpayment']]
  df_resto_name = df_resto_name.set_index(['placeID', 'name','city','Rcuisine','Rpayment']).sort_values(['placeID', 'avg_rating'])
  return(df_resto_name)

recommender()

                                                                                 avg_rating
placeID name                       city            Rcuisine Rpayment
135034  Michiko Restaurant Japones San Luis Potosi Japanese VISA                   1.866667
                                                            Mastercard Eurocard    1.866667
                                                            American Express       1.866667
135072  Sushi Itto                 San Luis Potosi Japanese VISA                   1.291667
                                                            Mastercard Eurocard    1.291667
                                                            American Express       1.291667